[submodule "plugins/WeKanboard"]
	path = plugins/WeKanboard
	url = https://github.com/bw-hro/WeKanboard
[submodule "plugins/Customizer"]
	path = plugins/Customizer
	url = https://github.com/creecros/Customizer
[submodule "plugins/plugin-gravatar"]
	path = plugins/Gravatar
	url = https://github.com/kanboard/plugin-gravatar
[submodule "plugins/plugin-oauth2"]
	path = plugins/OAuth2
	url = https://github.com/ocf/plugin-oauth2.git
[submodule "plugins/Group_assign"]
	path = plugins/Group_assign
	url = https://github.com/creecros/Group_assign.git
